
html {
    scrollbar-width: none;
    height: 70vh;

}
body {
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
}
body {
    padding: 200px;
    height: 100vh;
    z-index: 1;
    text-align: center;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 30px;
    padding: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    transition: transform 0.3s;
    z-index: 1;
}
.image-button:hover {
    transform: scale(1.2);
    z-index: 1;
}
h1, h2, h3, h4, p, summary{
    padding: 5px;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 rgb(117, 133, 236),;
    z-index: 1;
}
h1 {
    font-size: 50px;
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif,'Franklin Gothic Medium';
    color: #3eacff;
    z-index: 1;
    text-shadow: 1px 2px rgb(146, 205, 255);
}
::selection{
    background-color: transparent;
    color: #7a7a7a;
    z-index: 1;
}
img {
    border: solid, 4px, purple;
    z-index: 1;
}
hr {
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 35%;
    width: 50vw;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: 1;
}
#goto {
    width: fit-content;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
    border: 7px solid #ffffff;
    box-sizing: border-box;
    z-index: 2;
    gap: 8px;
    display: flex;
    transition: transform 0.2s, box-shadow 0.3s ease-in-out;
}
#goto:hover {
    outline: none;
    box-shadow: 0 0 20px #89aef4;
    transform: scale(1.1);
}
input[type=text]{
    background-color: transparent;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
    color: dodgerblue;
    z-index: 1;
    box-sizing: border-box;
    padding-right: 50px;
    flex: 1;
    min-width: 0;
    text-align: center;
}
input[type=text]:hover{
    transform: scale(110%,110%);
}
input[type=text]:focus{
    outline: none;
    z-index: 1;
}


input[type=submit] {
    background-color: transparent;
    color: white;
    border: 5px rgb(255, 255, 255) solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
    cursor: pointer;
    z-index: 1;
    display: inline-block;
    white-space: nowrap;
    border-top: none;
    border-bottom: none;
    border-right: none;
} input[type=submit]:hover {
      background-color: #a1a1a12f;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  } input[type=submit]:active {
        background-color: rgb(255, 255, 255);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
a {
    text-decoration: none;
    z-index: 1;
}
.buttons {
    position: relative;
    width: 90vw;
    margin: auto;
    z-index: 1;
    justify-content: center;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input[type="range"] {
    margin: 10px auto 0;
    display: block;
    width: 100%;
    max-width: 300px;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    transition: box-shadow 0.3s ease-in-out;
}
input[type="range"]:focus {
    outline: none;
    box-shadow: 0 0 20px #ffffff;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #f7f8fa;
    border-radius: 9px;
    border-color: white;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    transform: translatey(-30%);
    width: 15px;
    height: 35px;
    border-radius: 10%;
    background: #8ec5ff;
    cursor: grab;
    transition: transform 0.2s, box-shadow 0.3s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2) translatey(-30%);
    box-shadow: 0 0 5px #ffff;
}
input[type="range"]::-moz-range-track {
    height: 15px;
    background: rgb(127, 154, 255);
    border-radius: 10px;
}
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7f9aff;
    cursor: grab;
    transition: transform 0.2s, box-shadow 0.3s ease-in-out;
}
input[type="range"]:active::-webkit-slider-thumb {
    cursor: grabbing;
}
.head {
    margin-top: 25vh;
}
.button {
    display: inline-block;
    padding: 30px 50px;
    background-color:white;
    color: var(white);
    text-decoration: none;
    border-radius: 8px;
    font-size: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin: 30px;

    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #e3edff;
    transform: scale(110%,110%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

